<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd "
    default-autowire="byName">
 <!-- 读取数据库配置文件 -->
    <context:property-placeholder 
    location="classpath:database.properties"/>

 <!-- JNDI获取数据源(使用dbcp连接池) -->  
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
    destroy-method="close" scope="singleton">
    		<property name="driverClassName" value="${driver}" />  
			<property name="url" value="${url}" />  
			<property name="username" value="${user}" />  
			<property name="password" value="${password}" />
			<property name="initialSize" value="${initialSize}"/>
			<property name="maxActive" value="${maxActive}"/>
			<property name="maxIdle" value="${maxIdle}"/>
			<property name="minIdle" value="${minIdle}"/>
			<property name="maxWait" value="${maxWait}"/>
			<property name="removeAbandonedTimeout" 
			value="${removeAbandonedTimeout}"/>
			<property name="removeAbandoned" 
			value="${removeAbandoned}"/>
			<!-- sql 心跳 -->
			<property name= "testWhileIdle" value="true"/>
			<property name= "testOnBorrow" value="false"/>
			<property name= "testOnReturn" value="false"/>
			<property name= "validationQuery" value="select 1"/>
			<property name= "timeBetweenEvictionRunsMillis" 
			value="60000"/>
			<property name= "numTestsPerEvictionRun" 
			value="${maxActive}"/>
    </bean>
     <!--sqlsessionFactoryBean配置 -->
	<bean id="sqlsessionFactory" 
	class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<list>
				<value>classpath:Dao/*.xml</value>
			</list>
		</property>
	</bean>
	
	<!--dao接口实现类  不用写dao的实现类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="Dao" /><!--  //"Dao"这个表示什么？？？？？？ -->
	</bean>
	<!--service 业务层的bean 一个类对应一个bean -->
	<bean id="userservice" class="serviceimpl.userservletimpl">
	<!-- //在beans的节点下 添加 " default-autowire="byName"就不用写这个属性了 -->
	<!-- <property name="userMapper" ref="userMapper"/> -->
	</bean>
	
</beans>